.box {
  @extend %borderbox;
	width: calc(20% - 24px);
	//height: 260px;
  border-radius: 4px;
  padding: 1rem;
  background-color: $white;
  border: 1px solid darken(#f1f3f4, 12%);

  .color {
    width: 100%;
    margin-bottom: 1rem;
    height: 9.25rem;
    border-radius: 1px;
    transition: background-color 0.5s ease;
  }
}
