/*

-------------------------------------------------------------

TYPOGRAPHY

*/


body {
	font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
	font-weight:$primary-font-weight;
	font-size:$primary-font-size;
	color:$primary-font-color;
	line-height:$primary-line-height;
}

h1, h2, h3, h4 {
	margin: 0;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

a {
	color: darken(#f1f3f4, 30%);
}

.text-center { text-align: center; }
